#header_container{
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: white;
  #wrapper{
    padding-right: 50px;
    padding-left: 50px;
  }
}
#filters-buttons{
  background-color: black;
  padding:20px;
}
