<div fxLayout="column" fxLayoutAlign="center stretch" id="header_container">
  <div fxLayout="row" fxLayoutAlign="space-between center" id="wrapper">
    <object data="assets/icons/ClothesStore.svg" type="image/svg+xml"></object>
    <div [fxLayoutGap]="'1vw'" fxLayout="row">
      <app-search [buttonQuery]="query"></app-search>
      <a routerLink="/cart" routerLinkActive="active-list-item">
        <img alt="" src="assets/icons/icon-cart.svg" srcset="" />
      </a>
      {{ cartSvc.numberOfItems }}
      <img alt="" src="assets/icons/icon-user.svg" srcset="" />
      <button>Iniciar sesión</button>
    </div>
  </div>
  <app-navbar (query)="query = $event.valueOf()"></app-navbar>
</div>
