#header-container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: var(--background);

  header {
    display: flex;
    align-items: center;
    height: 7.24vw;

    #hamburger {
      display: none;
    }

    #logo {
      width: 23.229vw;
      margin-left: 3.424vw;
      margin-right: 10.065vw;
      cursor: pointer;
    }

    #actions {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 0 2.146vw;

      #cart {
        display: flex;
        position: relative;

        #cart-icon{
          width: 2.269vw;
        }

        .badge {
          position: absolute;
          top: -0.46875vw;
          right: -0.46875vw;
          width: 1.146vw;
          height: 1.146vw;
          padding: 0.104vw;
          border-radius: 50%;
          font-size: 0.78125vw;
          background: var(--primary);
          color: var(--background);
          justify-items: center;
          text-align: center;

        }
      }

      #user-icon {
        width: 1.985vw;
      }

      #login {
        padding: 0.573vw 1.015625vw;
        color: var(--background-dark);
        border: 0.052vw solid var(--background-dark);
        font-size: 0.9375vw;
        font-weight: bold;

        &:hover{
          background-color: var(--ligther);
          cursor: pointer;
        }
      }
    }

  }
}

@media screen and (max-width: 39.115vw) {
  #header-container {
    #user-icon, #login {
      display: none;
    }


    header {
      #hamburger {
        display: initial;
        color: var(--gray-2);
        font-size: 2.604vw;

        &:hover {
          background-color: var(--ligther);
        }
      }

      #logo {
        width: 40vw;
        margin-right: 8vw;

        img {
          width: 100%;
        }
      }

    }
  }
}
