#card {
  border: 1px var(--gray-4) solid;
  transition: all 0.6s;
  width: 250px;
  min-height: 400px;
  padding:0;

  #discount{
    padding: 0.5vw;
    background-color:var(--primary);
    color:var(--background);
  }

  #golden-listing{
    float:right;
  }

  #product-card-container{
    width: 100%;
    min-height: 250%;
    overflow-x: auto;
    overflow-y: auto;
    opacity: 0.75;
    img {
      width:100%;
      display: block;
      object-fit: cover;
      object-position: center center;
    }
    &:hover{
      opacity: 1;
    }
  }
  #card-details {
    background-color: var(--ligther);
    padding: 30px;
    text-justify: inter-word;
    word-wrap: break-word;

    h2{
      text-align: left;
      font-weight: lighter;
    }
    #prices{
      margin:20px 0;
      display: flex;
      justify-content: space-between;
      *{
        font-size: 120%;
      }

      #price-promotion {
        color: var(--primary);
        font-weight: bolder;
      }
      .price-regular {
        color: var(--accent);
        font-weight: lighter;
        text-decoration-line: line-through;
      }
      .price-amount{
        color: var(--background-dark);
        font-weight: bolder;
      }
    }

  }

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

    &:hover {
      opacity: 0.7;
    }
    img{
      color: white;
    }
  }

}

@media screen and (max-width: 480px) {
  #card {
    width: 100%;
    #product-card-container{
      opacity: 1;
    }
  }
}
