#card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  background-color: var(--ligther);
  border: 1px var(--gray-4) solid;
  transition: all 0.6s;
  max-height: 562px;
  height: 562px;
  width: 337px;
  padding: 0;

  position: relative;

  #discount, #golden-listing {
    position: absolute;
    top: 20px;
  }

  #discount {
    left: 20px;
    height: 35px;
    width: 87px;
    background-color: var(--primary);
    color: var(--background);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  #golden-listing {
    right: 20px;
    font-size: 25px;
  }

  #card-image {
    width: inherit;
    height: 351px;
    object-fit: cover;
  }
  #card-details {
    padding: 0 30px;
    font-weight: bold;
    text-justify: inter-word;
    word-wrap: break-word;

    h2 {
      text-align: left;
      font-weight: lighter;
    }

    #prices {
      margin: 20px 0;
      display: flex;
      justify-content: space-between;

      * {
        font-size: 120%;
      }

      #price-promotion {
        color: var(--primary);
        font-weight: bolder;
      }

      .price-regular {
        color: var(--accent);
        font-weight: lighter;
        text-decoration-line: line-through;
      }

      .price-amount {
        color: var(--background-dark);
        font-weight: bolder;
      }
    }

  }

  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

    &:hover {
      opacity: 0.7;
    }

    img {
      color: white;
    }
  }

}

@media screen and (max-width: 480px) {
  #card {
    width: 95%;

    #product-card-container {
      opacity: 1;
    }
  }
}
