<div id="card" *ngIf="product">
  <span id="discount" *ngIf="pricePromotion" title="Producto en descuento">-{{ discount | percent }}</span>
  <span id="golden-listing" *ngIf="product.listing_type_id === 'gold_pro'" title="Producto destacado">🌟</span>
  <img id="card-image" [alt]="product.title" [src]="product.thumbnail" is="image" rel="preload" />
  <div id="card-details">
    <a [href]="product.permalink" target="_blank" id="name" title="Ver más sobre el producto">{{ product.title }}</a>
    <div id="prices">
      <p id="price-promotion" *ngIf="pricePromotion">{{ pricePromotion | currency: 'COP':'symbol-narrow':'1.0-0' }}</p>
      <p [ngClass]="pricePromotion ? 'price-regular' : 'price-amount'">
        {{ product.price | currency: 'COP':'symbol-narrow':'1.0-0' }}
      </p>
    </div>
  </div>
  <div id="add-to-cart">
    <span id="added-cart" *ngIf="numAddedCart">{{ numAddedCart < 10 ? numAddedCart : '9+' }}</span>
    <button (click)="addToCart(product)">
      <img src="assets/icons/icon-cart-ligth.svg" alt="icon cart" /> Add to Cart
    </button>
  </div>
</div>
