<div id="card" *ngIf="product">
  <span id="discount" *ngIf="pricePromotion">-{{ discount | percent }}</span>
  <span id="golden-listing" *ngIf="product.listing_type_id === 'gold_pro'">🌟</span>
  <img id="card-image" [alt]="product.title" [src]="product.thumbnail" is="image" rel="preload" />
  <div id="card-details">
    <span>{{ product.title }}</span>
    <div id="prices">
      <p id="price-promotion" *ngIf="pricePromotion">{{ pricePromotion | currency: 'COP':'symbol-narrow':'1.0-0' }}</p>
      <p [ngClass]="pricePromotion ? 'price-regular' : 'price-amount'">
        {{ product.price | currency: 'COP':'symbol-narrow':'1.0-0' }}
      </p>
    </div>
  </div>
  <div id="add-to-cart">
    <button (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>
