nav label, #hamburger {
  display: none;
}

nav {
  width: 100%;
  background: var(--background-dark);

  #filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1.1vw 10vw;

    a {
      font-size: 165%;
      color: var(--background);
      padding: 0.5vw 1vw;
      text-decoration: none;
      text-align: center;
      border-right: 1px solid var(--background);

      &:nth-last-child(1) {
        border-right: none;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }

  }

}

@media  (max-width: 480px) {
  nav {
    label {
      display: inline-block;
      background: transparent;
      font-style: normal;
      font-size: 3em;
      padding: 10px;
      color: var(--gray-2);
    }

    input:checked ~ #filters {
      display: block;
      background: var(--background);
      //TODO: Colocar el hight del nav al 100% y volverlo blanco y ajusta el ancho al 80%

      a {
        color: var(--background-dark);
      }
    }

    input:checked ~ label {
      font-size: 0;
      width: 100%;
      text-align: end;

      &:before {
        content: "X";
        color: var(--primary);
        font-size: 30px;
        font-weight: 700;
      }
    }

    #filters {
      display: none;

      a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 20px;
      }
    }
  }
}
