<footer fxLayout="row" fxLayoutAlign="space-around start">
  <div>
    <h1>POLÍTICAS</h1>
    <div fxLayout="column" fxLayoutAlign="start start">
      <a href="">Políticas de privacidad</a>
      <a href="">Políticas de cambio</a>
      <a href="">Políticas de envio</a>
      <a href="">Términos y condiciones</a>
      <a href="">Responsabilidad social</a>
    </div>
  </div>
  <div>
    <h1>
      SOBRE NOSOTROS
    </h1>
    <div fxLayout="column" fxLayoutAlign="start start">
      <a href="">Encuentra tu dieta</a>
      <a href="">Contáctanos</a>
      <a href="">Trabaja con nosotros</a>
    </div>
  </div>
  <div>
    <h1>
      SIGUENOS EN:
    </h1>
    <div fxLayout="row" fxLayoutAlign="space-around center" [fxLayoutGap]="'1vw'">
      <a href=""><img src="assets/icons/icon-facebook.svg" alt="" srcset=""></a>
      <a href=""><img src="assets/icons/icon-twitter.svg" alt="" srcset=""></a>
      <a href=""><img src="assets/icons/icon-instagram.svg" alt="" srcset=""></a>
      <a href=""><img src="assets/icons/icon-youtube.svg" alt="" srcset=""></a>
    </div>
  </div>
</footer>
