<div id="homeContainer">
  <ng-container *ngIf="!productsFiltered.length; else productsList">
    <app-images-carousel></app-images-carousel>
    <article>
      <div id="highlighted categories" fxLayout="row" fxLayoutAlign="space-around center">
        <img src="assets/images/categorias-destacadas-moda-infantil.png" alt="" srcset="" />
        <img src="assets/images/categorias-destacadas-proteccion.png" alt="" srcset="" />
      </div>
      <h1>PRODUCTOS MÁS BUSCADOS</h1>
      <app-products-carousel [products]="productsMostWanted"></app-products-carousel>
    </article>
  </ng-container>
  <ng-template #productsList>
    <app-products-list [products]="productsFiltered"></app-products-list>
  </ng-template>
</div>
