<div id="home-container">
  <app-images-carousel></app-images-carousel>
  <article>
    <div id="highlighted-categories">
      <div>
        <img alt="" src="assets/images/categorias-destacadas-moda-infantil.png" srcset="" />
      </div>
      <div>
        <img alt="" src="assets/images/categorias-destacadas-proteccion.png" srcset="" />
      </div>
    </div>
    <h1>PRODUCTOS MÁS BUSCADOS</h1>
    <app-products-carousel [products]="productsMostWanted"></app-products-carousel>
  </article>
</div>
