#search-wrapper {
  display: flex;

  .input-search {
    background: var(--gray-3) 0 0 no-repeat padding-box !important;
    color: var(--accent);
    font-stretch: expanded;
    font-size: 150%;
    padding: .5vw;
    width: 100%;
  }

  .input-search,
  .btn-search {
    border: none !important;
    opacity: 1 !important;
  }

  #btn-search {
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: var(--gray-5);
    height: 100%;
    padding: 0 1vw;
  }

  .form-control:focus {
    border-color: transparent transparent !important;
    box-shadow: none !important;
  }
}
@media  (max-width: 860px) {
  .input-search {
    background: var(--gray-3) 0 0 no-repeat padding-box !important;
    color: var(--accent);
    font-stretch: expanded;
    padding: .5vw;
    width: 100%;
    font-size: 50%;
    &::placeholder{
      font-size: 50%;
    }
  }
}
